API_KEY="your_open_ai_key_here"

MYSQL_HOST="your_host"
MYSQL_PORT="your_port"
MYSQL_USER="your user"
MYSQL_PASSWORD="your_password"
MYSQL_DATABASE="hust_assistant_data"

# CONFIG CHROMA DB
CHROMA_COLLECTION="your_collection"
CHROMA_HOST="your_host"
CHROMA_PORT="your_port"
