OPEN_AI_API_KEY="your_open_ai_key_here"

MYSQL_HOST="your_host"
MYSQL_PORT="your_port"
MYSQL_USER="your user"
MYSQL_PASSWORD="your_password"
MYSQL_DATABASE="YOUR_DATABASE"

# CONFIG CHROMA DB
CHROMA_COLLECTION="hust_course"
CHROMA_HOST="localhost"
CHROMA_PORT=8100


EUREKA_SERVER="your eureka server"
EUREKA_APP_NAME="chat-service"
EUREKA_INSTANCE_PORT=1923
EUREKA_INSTANCE_HOST="localhost"